.layout{
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;

background-attachment: fixed;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "sidebar main";
  }

  .main {
    grid-area: main;
    margin-left: 1px;
  }

  .sidebar {
    grid-area: sidebar;
  }
}
