.jumbotron{
    background-color: rgba(255,255,255,.7);
    padding: 80px 16px;
    max-width: 80vw;
    border-radius: 4px;
    color: #34495e;

}

.jumbotron hr{
    margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
border-top: 1px solid
rgba(0,0,0,.1);

}



/*laptops*/
@media (min-width: 1200px) {
    .jumbotron{
        max-width: 60vw;
        padding: 40px 80px;
    }
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
    .jumbotron{
        max-width: 60vw;
        padding: 80px;
    }
}

